@charset 'utf-8';
/* CSS Document */

*{
    margin:0;
    padding:0;
    border:0;
}

body
{
    font-famliy:'宋体';
    font-size:12px;
    color:#666666;
    background: url('images/2501.jpg') no-repeat;
}

.font01
{
    font-famliy:'微软雅黑';
    font-size: 18px;
    line-height: 30px;
    color: #5ca900;
}
