/* CSS Document */

*{
    margin:0;
    padding:0;
    border:0;
}

body
{
    font-famliy:'宋体',serif;
    font-size:13px;
    color:#666666;
    background: url('images/2501.jpg') no-repeat;
    text-indent:2em; /*首行缩进2个字*/
}

.font01
{
    font-family: '微软雅黑 Light', serif;
    font-size:18px;
    line-height:30px;
    color: #5ca900;
}
