#sidebar{font-size: 1em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
    line-height: 1.5;

    margin: 0;

    text-align: right;

    color: green;
    border: 20px; 
}


